build/
release/
client/build*/
client/dist/
src/**/*.c.asm
*.tap
*.map
*_CODE.bin
*.exe
*.dll
*.o
*.obj
*.i
.ruff_cache/
experimentos/**/*.bin
experimentos/**/*.lst
README.es.preview.html
README.preview.html
images/
installer/
__pycache__/
.DS_Store
build_*.log
build_*.txt
# Basura accidental de entorno
%SystemDrive%/
Python/

